/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Archivo', 'Inter';
}

/* START ROOT */

:root {
  --color-bg: #FFF1ED;
  --color-bg3: #EB6E46;
  --color-hover: #fff;
  --text-color: #757B8A;
  --text-color2: #101010;
  --text-color3: #fff;
  --text-color4: #d4d9e833;
  --transition-hover: 400ms;
  --border: 2px solid #EB6E46;
}

/* END ROOT */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* START HEADER SECTION */

.header_section {
  background: var(--color-bg);
  width: 100%;
  height: auto;
}

.slick-arrow {
  display: none !important;
}

.section_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section_main .main .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
}

.section_main .main .menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_main .main .menu .links {
  display: flex;
  margin: 65px;
  flex-wrap: wrap;
}

.section_main .main .menu .links a {
  font-family: "Inter";
  margin: 22px;
  text-decoration: none;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
  transition: var(--transition-hover);
}

.section_main .main .menu .links a:hover {
  color: #EB6E46;
  font-weight: 800;
}

.section_main .main .main_left {
  margin-top: 90px;
}

.section_main .main .main_left h1 {
  width: 578px;
  color: var(--text-color2);
  font-family: "Archivo";
  font-size: 72px;
  font-weight: 700;
  flex-wrap: wrap;
}

.section_main .main .main_left p {
  width: 456px;
  color: var(--text-color);
  margin-top: 32px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}

.section_main .main .main_left .btn img {
  transform: rotate(-20deg);
}

.section_main .main .main_left .btn a {
  text-decoration: none;
  background: var(--color-bg3);
  padding: 16px 32px 16px 32px;
  border-radius: 100px;
  color: var(--color-bg);
  transition: var(--transition-hover);
}

.section_main .main .main_left .btn a:hover {
  background: none;
  border: var(--border);
  color: var(--color-bg3);
}

.section_main .main_right img {
  height: 684px;
}

/* END HEADER SECTION */

/* START BRAND */

.swiper_js {
  margin: 100px 0;
}

.swiper_js .swiper {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* END BRAND */

/* START FEATURES */

.features_secion {
  padding: 80px 0 116px 0;
}

.features_secion .features_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features_secion .features_header h1 {
  width: 620px;
  color: var(--neutral-100, #101010);
  font-family: "Archivo";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-bottom: 56px;
}

.box1:hover {
  background: #FFF1ED;
}

.box1 {
  transition: all .4s;
  display: flex;
  width: 285px;
  height: 291px;
  border-radius: 18px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 56px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
}

.icon svg {
  width: 40px;
  height: 40px;
}

.icon {
  width: 56px;
  height: 56px;
  background: var(--color-bg3);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.box1 h1 {
  color: var(--neutral-100, #101010);

  /* Headline / H3 Inter/Bold */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: -45px;
  /* 21.6px */
}

.box1 p {
  align-self: stretch;
  color: var(--neutral-60, #757B8A);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-top: 12px;
}

/* END FEATURES */

/* START ABOUT */

.section_about {
  background: var(--color-bg);
  width: 100%;
  margin-bottom: 95px;
}

.about_section {
  padding: 80px 0 20px 0;
}

.about_section .about_menu {
  display: flex;
  align-items: center;
}

.about_section .about_menu .about_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  margin-left: 149px;
}

.about_section .about_menu .about_right h1 {
  width: 546px;
  color: var(--text-color2);
  font-family: "Archivo";
  font-size: 48px;
  font-weight: 700;
}

.about_section .about_menu .about_right p {
  width: 483px;
  color: var(--text-color);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}

.about_section .about_menu .about_right .count {
  display: flex;
  align-items: flex-start;
}

.about_section .about_menu .about_right .count .number_text {
  width: 200px;
}

/* END ABOUT */


/* START STRATEGIES */

.strategies_section .section_strategies h1 {
  width: 758px;
  color: var(--text-color2);
  font-family: 'Archivo';
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 96px;
}

.strategies_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 66px;
}

.strategies_box hr {
  width: 1016px;
  height: 1px;
  background: #D6D6D6;
  margin-bottom: 32px;
}

.strategies_box .strategy_about {
  display: flex;
  width: 1016px;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

.strategies_box .strategy_about h1 {
  color: var(--text-color2);
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.strategies_box .strategy_about p {
  width: 493px;
  flex-shrink: 0;
  color: var(--text-color2);
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.section_strategies .btn {
  margin-bottom: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.section_strategies .btn .btns a {
  color: var(--neutral-10, #FFF);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  width: 240px;
  padding: 16px 32px;
  border-radius: 100px;
  background: var(--color-bg3);
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 373px;
  transition: var(--transition-hover);
}

.section_strategies .btn .btns:hover a {
  background: none;
  border: var(--border);
  color: var(--color-bg3);
}

/* END STRATEGIES */

/* START GROUP SECTION */

.section_group {
  padding: 117px 0 110px 0;
}

.section_group .group_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.section_group .group_header h1 {
  width: 552px;
  color: var(--text-color2);
  font-family: "Archivo";
  font-size: 48px;
  font-weight: 700;
}

.section_group .group_header p {
  width: 463px;
  font-weight: 500;
  font-family: "Inter";
  font-size: 16px;
  color: var(--text-color);
  margin-top: 30px;
}

.groups {
  display: flex;
  justify-content: space-between;
}

.groups .group {
  flex-wrap: wrap;
}

.groups .group h1 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: 'Archivo';
  font-size: 24px;
  font-weight: 700;
}

.groups .group p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.groups .group img {
  transition: var(--transition-hover);
}

.groups .group img:hover {
  transform: scale(1);
}

/* END GROUP SECTION */


/* Faqs Page started */
.features {
  margin-bottom: 40px;
}

.title1 {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.faqs-title {
  text-align: center;
  margin-bottom: 72px;
  font-family: Archivo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.isOpen {
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.text_answer {
  width: 805px;
  padding-top: 16px;
  color: #101010;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.notOpen {
  color: #757B8A;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}